.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tenantInfo {
  display: flex;
  flex-direction: column;
}

.backSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backSection > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.backButton {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 50%;
  justify-content: center;
  border: 1px solid black;
  background: #00bfa5;
  color: #fff;
}

.backButton span {
  font-size: 1rem;
}

.picWrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem
}

.chevron {
  border-radius: 5rem;
  cursor: pointer;
  margin: 0 1rem;
  background: #fff;
}

.picContainers {
  display: flex;
  text-align: center;
  cursor: pointer;
}

.picContainers img {
  width: 50px;
  height: 50px;
  border-radius: 5rem;
}

.removeButton {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  background: #fff;
}

.inviteButton:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.inviteButton:active {
  transform: translateY(1px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
