.formContainer {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;
  align-items: center;
}

.inputFields {
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-border-1);
  box-sizing: border-box;
  background: var(--color-surface-1);
  color: var(--color-text-2);
  outline: none;
}

.inputFields:focus {
  border-color: #00bfa5;
}

.formRow {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 32px;
}

.button {
  width: 10%;
  height: 2.5em;
  background: #00bfa5;
  color: white;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.disabled {
  background: rgb(125, 125, 125);
  width: 100%;
}

.disabledField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}