.billingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 94vh;
}

@media (max-width: 650px) {
  .billingContainer {
    flex-direction: column
  }
}