.summaryWrapper {
  border-radius: 1rem;
  background: var(--color-surface-3);
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: grid;
  border: 1px solid var(--color-border-4);
}

.summaryWrapper::-webkit-scrollbar {
  display: none;
}

.image {
  border-radius: 1rem 1rem 0 0;
  height: 30vh;
  width: 100%;
}

.miniPropertyInfoContainer {
  display: grid;
  gap: 1rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 1rem 0;
}

.miniPropertyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miniPropertyInfo span:nth-child(1) {
  font-size: 1.25rem;
  font-weight: bold;
}

.miniPropertyInfo h3:nth-child(2) {
  font-weight: lighter;
  color: var(--color-text-3);
}

.siteStaffContainer {
  text-align: center;
  margin-top: 0.5rem;
}

.siteStaffContainer > p {
  color: var(--color-text-3);
}
.siteStaffBody {
  width: 100%;
  padding: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 32px;
  font-weight: 900;
}

@media (max-width: 1401px) {
  .miniPropertyInfoContainer > div:nth-child(3) {
    grid-column: 1 / -1;
  }
}

@media (max-width: 1024px) {
  .image {
    height: 24vh;
  }

  .siteStaffBody {
    padding: 2rem;
    font-size: 1.75rem;
  }
}

@media (max-width: 650px) {
  .image {
    height: 20vh;
  }

  .miniPropertyInfoContainer {
    gap: 0.5rem;
    padding: 0.75rem 0;
  }

  .siteStaffContainer {
    margin-top: 0.25rem;
    padding: 0 0.75rem;
  }

  .siteStaffBody {
    padding: 1.25rem;
    font-size: 1.25rem;
  }
}
