.analyticsContainer {
  display: flex;
  flex-direction: column;
  background: var(--color-surface-3);
  border-radius: 1rem;
  border: 1px solid var(--color-border-4);
}

.header {
  width: 100%;
  padding: 0.5rem 1rem;
}

.header h4 {
  font-weight: lighter;
}

.analyticsWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.sectionContainers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionContainers .numbers {
  font-weight: bold;
  font-size: 1.5rem;
}

.sectionContainers p {
  color: var(--color-text-3)
}

.numbers {
  cursor: pointer;
}