.paymentSection {
  margin-top: 1rem;
}

.paymentSection h3 {
  margin-left: 1rem;
}

.paymentContainer {
  background: #fff;
  border-radius: 1rem;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  max-height: 29rem;
  min-height: 29rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.paymentContainer::-webkit-scrollbar {
  display: none;
}

.workOrdersTable {
  width: 100%;
  border-collapse: collapse;
  font-weight: 500;
  text-align: left;
}

.workOrdersTable thead {
  background-color: #00bfa5;
  color: #fff;
  font-weight: 600;
}

.workOrdersTable th,
.workOrdersTable td {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.workOrdersTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.emptyMessage {
  text-align: center;
  padding: 2rem;
  color: #999;
  font-style: italic;
}