.logbookWrapper {
  border-radius: 1rem;
  margin-top: 1rem;
  background: var(--color-surface-3);
  border: 1px solid var(--color-border-4);
  height: 30vh;
}

.title {
  padding: 1rem;
  font-weight: bold;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.5rem;
}

.infoContainer p {
  color: #00bfa5;
}

.infoContainer span {
  color: var(--color-text-2);
}