.activityWrapper {
  padding-top: 1rem;
  padding-left: 0.5rem;
}

.paymentMaintenance {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem
}

.payment,
.maintenance {
  height: 30vh;
  border: 1px solid var(--color-border-4);
}

.engagement {
  margin-top: 0.5rem;
  height: 63%;
  border: 1px solid var(--color-border-4);
}

.defaultCardStyles {
  border-radius: 1rem;
  background: var(--color-surface-3);
  overflow-y: auto;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.defaultCardStyles::-webkit-scrollbar {
  display: none;
}

.titleWithFilter {
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 1rem 1rem 0.5rem 1rem;
  font-weight: bold;
}

.yearSelect {
  margin: 1rem 1rem 0.5rem 1rem;
  color: var(--color-text-2);
  background: var(--color-surface-5);
  border: 1px solid var(--color-border-5);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.rentPayment {
  border-bottom: 1px solid var(--color-border-5);
  margin: 1rem;
}

.rentAmount {
  font-weight: bold;
}

.date {
  color: #00bfa5;
}

.chartSection {
  width: auto;
  height: fit-content;
}

.noPaymentHistoryWrapper {
  text-align: center;
  height: 50%;
}

.noPaymentHistoryText {
  position: relative;
  bottom: -50%;
}