.photoSection {
  border: 1px solid black;
  border-radius: 1rem;
  height: 30vh
}

.tenantDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.daysAsTenant {
  border: 1px solid black;
  border-radius: 1rem;
  height: 15vh
}

.expenses {
  border: 1px solid black;
  border-radius: 1rem;
  height: 15vh
}

.rent {
  border: 1px solid black;
  border-radius: 1rem;
  height: 15vh;
}

.misc {
  border: 1px solid black;
  border-radius: 1rem;
  height: 15vh;
}