.tradesmenDashboardContainer {
  display: flex;
  background: var(--color-bg);
}

.tradesmenHeaderBody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tradesmenErrorContainer {
  display: flex;
  background: #f5f0eb;
  flex-direction: column;
  align-items: center;
}
