.landlordDashboardContainer {
  display: flex;
  background: var(--color-bg);
}

.landlordHeaderBody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landlordErrorContainer {
  display: flex;
  background: #f5f0eb;
  flex-direction: column;
  align-items: center;
}
