.paymentSection {
  margin-top: 1rem;
}

.paymentContainer {
  background: #fff;
  border-radius: 1rem;
  overflow-x: auto;
  margin-top: 1rem;
  width: 45%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.reliabilityTable {
  width: 100%;
  border-collapse: collapse;
  font-weight: 500;
  text-align: left;
}

.reliabilityTable thead {
  background-color: #00bfa5;
  color: #fff;
  font-weight: 600;
}

.reliabilityTable th,
.reliabilityTable td {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.reliabilityTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
